// Colors
$light: #f4f4f5;
$dark: #181b1b;
$white: #ffff;
$primary: #00c39d;
$secondary: #235fac;
$gray: #5f8492;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;700&family=Lora:wght@400;700&display=swap');

$font-title: 'Advent Pro', sans-serif;
$font-principal: 'Lora', serif;
