.content {
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $light-brown;
  @media (min-width: 1024px) {
    flex-direction: row;
  }
  &__colum {
    @media (min-width: 1024px) {
      width: 50%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
  &__image {
    @media (min-width: 1024px) {
      width: 100%;
    }
    img {
      display: block;
      margin: 0 auto 50px auto;
      width: 100%;
      @media (min-width: 1024px) {
        width: 80%;
        // margin-top: 100px;
      }
    }
    &-second {
      @media (min-width: 1024px) {
        width: 60% !important;
      }
    }
  }
  &__text {
    color: $dark;

    &-title {
      font-size: 18px;
      font-weight: bold;
    }
    &-description {
      font-size: 14px;
      line-height: 28px;
    }
  }
  &__link {
    color: white;
    background-color: $dark-brown;
    border-radius: 10px;
    width: 160px;
    height: 60px;
    font-weight: bold;
    text-decoration: none;
    padding: 20px 30px;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    @media (min-width: 1024px) {
      width: 75%;
      margin-bottom: 0;
    }
  }
}
