.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  display: flex;
  width: 100vw;
  background-color: $secondary;
  color: $light;

  &__left {
    flex: 0 0 4rem;

    text-align: center;
    // align-self: center;
  }

  &__right {
    flex: 1;
    padding-right: 10%;
    text-align: center;
  }

  &__icon{
    font-size: 2rem;
  }

  &__title {
    align-self: center;
    font-size: 2.5rem;
  }
}
