.landing {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vh;
  z-index: 999;

  background-color: $dark;
  animation: fadeInFromNone 1s ease-in-out;

  &__container {
    position: relative;
    width: 100vw;
    height: 100vh;
    //background: linear-gradient(#00c39d, #181b1b);
    background: linear-gradient(179.98deg, #5E3E00 0.02%, #181B1B 99.98%), #C4C4C4;
  }

  &__picture-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24rem;
    height: 24rem;
    z-index: 10;
  }

  @media (min-width: 768px) {
    &__picture-box {
      transform: translate(-50%, -80%);
    }
  }

  &__picture {
    width: 100%;
    height: 100%;
  }

  &__curved-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24rem;
    height: 24rem;
    z-index: 10;
  }
  @media (min-width: 768px) {
    &__curved-box {
      transform: translate(-50%, -80%);
    }
  }

  &__path {
    fill: transparent;
  }

  &__curved-text {
    fill: $light;
    font-family: $font-title;
    font-size: 2.5rem;
    letter-spacing: 4px;
    font-weight: bold;
    animation: fadeInFromNone 1.3s ease-in-out;
  }

  &__text-box {
    position: absolute;
    top: 65%;
    left: 2rem;
    width: 12rem;
    color: $dark;
    font-weight: bold;
    animation: fadeInFromNone 2s ease-in-out;
  }

  @media (min-width: 768px) {
    &__text-box {
      top: 58%;
      left: 50%;
      width: 45rem;
      transform: translateX(-50%);
      text-align: center;
      color: $light;
      font-weight: normal;
      }
  }

  &__text {
    font-size: 2rem;
  }

  @media (min-width: 768px) {
    &__text {
      animation: letters-expand 6s ease-in;
    }
  }

  &__wave--left {
    width: 55%;
    height: 100%;
  }
  &__wave--right {
    position: absolute;
    top: 0;
    right: 0;
    width: 56%;
    height: 100%;
  }

  @media (min-width: 768px) {
    &__wave--left {
      width: 15%;
      filter: drop-shadow(2px 6px 1px rgba(0,0,0,0.25));
    }
    &__wave--right {
      width: 15%;
      filter: drop-shadow(-2px 6px 1px rgba(0,0,0,0.25));
    }
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeOutFromBlock {
  0% {
    display: block;
    opacity: 1;
  }

  1% {
    display: block;
    opacity: 1;
  }

  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes letters-expand {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scaleX(1.2) scaleY(1.1);
  }
}
