.menu {
  display: block;
  width: 26rem;
  height: 100vh;
  position: absolute;
  left: -26rem;
  background: url(/images/Wave.svg);
  z-index: 100;
  transition: all 0.5s;

  &__elements {
    display: flex;
    height: 100vh;
    flex-direction: column;
  }

  &__anchor {
    display: flex;
    margin-left: 2.5rem;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: $font-principal;
    text-transform: uppercase;
    text-decoration: none;
    color: $dark;
  }

  &__anchor-close {
    position: absolute;
    top: 8rem;
    text-align: center;
  }

  &__anchor-products {
    position: absolute;
    top: 22rem;
  }

  &__anchor-aboutUs {
    position: absolute;
    top: 37.5rem;
  }

  &__icon {
    display: inline;
    width: 5rem;
    height: 4.5rem;
    margin-right: 1rem;
    font-size: 4rem;
    color: $dark;
  }
}

@media (min-width: $tablet-width) {
  .menu {
    display: none;
  }
}

.opacity {
  opacity: 0.4;
}

.show {
  left: 0;
  transition: all 0.5s;
}
