.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.6rem;

  &__card {
    width: 15.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem;
    background-color: $primary;
    border-radius: 1.6rem;
    box-shadow: 0rem 1rem 2rem rgba(44, 37, 210, 0.05);
  }

  &__title {
    margin: 0 0 0.8rem 0;
    font-size: 2.08rem;
  }

  &__image {
    width: 100%;
    min-height: 9.6rem;
  }

  &__price-title {
    opacity: 50%;
  }

  &__price-value {
    font-weight: 700;
  }

  &__buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    background-color: $white;
    color: $dark;
    border-radius: 3.2rem;
    overflow: hidden;

    &:hover {
      background-color: $secondary;
    }
  }

  &__button {
    height: 3.2rem;
    width: 3.2rem;
    background-color: $dark;
    color: $white;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 2.4rem;
  }

  &__amount {
    margin: 0;
  }
}

.register-sale-button {
  width: 90%;
  margin: 3.2rem 0;
  position: fixed;
  bottom: 0;
  background-color: $secondary;
  color: $white;
  border: none;
  border-radius: 0.8rem;
  height: 4.8rem;
  font-size: 1.6rem;
}

.confirm-sale {
  position: absolute;
  top: 3.2rem;
  width: 100%;  
  display: none;

  &__div {
    background-color: $white;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    text-align: center;
  }
}

.confirm-sale-active {
  display: grid;
  place-items: center;
}
