.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.6rem;

  &__card {
    width: 15.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem;
    background-color: $card-bg-color;
    border-radius: 1.6rem;
    box-shadow: 0rem 1rem 2rem rgba(44, 37, 210, 0.05);

    @media (min-width: $tablet-width) {
      width: 25rem;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &__title {
    margin: 0 0 0.8rem 0;
    font-size: 2.08rem;
    color: $card-font-color;
  }

  &__image {
    width: 100%;
    max-width: 16rem;
    min-height: 9.6rem;
    max-height: 15rem;
  }

  &__price {
    color: $card-price-color;
  }

  // &__price-title {
  //   // opacity: 50%;
  // }

  &__price-value {
    font-weight: 700;
  }

  &__buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    background-color: $dark;
    color: $dark;
    border-radius: 3.2rem;
    overflow: hidden;

    @media (min-width: $tablet-width) {
      width: 60%;
    }

    &:hover {
      background-color: $secondary;
    }
  }

  &__button {
    height: 3.2rem;
    width: 3.2rem;
    background-color: $dark;
    color: $white;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 2.4rem;

    @media (min-width: $tablet-width) {
      width: 3.8rem;
    }
  }

  &__amount {
    margin: 0;
    background-color: $white;
    width: 50%;
    width: calc(100% - (3.2rem * 2));
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.register-sale-button {
  width: calc(100% - 2rem);
  margin: 3.2rem 1rem;
  position: fixed;
  bottom: 0;
  background-color: $button-bg-color;
  color: $button-font-color;
  border: none;
  border-radius: 0.8rem;
  height: 4.8rem;
  font-size: 2.4rem;
  display: none;

  @media (min-width: $tablet-width) {
    width: 52.5rem;
    margin: 3.2rem 0;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 3rem;
  }
}

.register-sale-button--active {
  display: block;
}

.confirm-sale {
  // display: none;
  display: flex;
  justify-content: center;

  &__div {
    background-color: $white;
    width: 96%;
    max-width: 48.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    overflow: hidden;
  }

  &__title {
    background-color: $confirm-title-bg-color;
    width: 100%;
    margin: 0;
    color: $confirm-font-color;
    padding: 1rem 0;
    border-bottom: 1px solid $dark;
    font-family: $font-title;
    font-size: 2.4rem;
    line-height: 3.1rem;

    @media (min-width: $tablet-width) {
      font-size: 3rem;
      line-height: 3.8rem;
    }
  }

  &__description {
    margin: 0;
    padding: 1.8rem;
    font-size: 1.6rem;

    @media (min-width: $tablet-width) {
      font-size: 2.4rem;
    }
  }

  &__table {
    border-collapse: collapse;
    width: 80%;
    text-align: left;

    th,
    td {
      padding: 1rem 0;
    }
  }

  &__table-header {
    border-bottom: 2px solid $gray;
  }

  &__name {
    text-align: left;
  }

  &__table-row {
    border-bottom: 1px solid $gray;
  }

  &__table-footer {
    font-weight: 700;
  }

  &__amount,
  &__total,
  &__total-sale,
  #amount,
  #total {
    text-align: right;
  }

  &__buttons {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;

    @media (min-width: $tablet-width) {
      margin: 2rem 0;
      display: flex;
      justify-content: center;
      column-gap: 3.4rem;
    }
  }

  &__buttons-cancel,
  &__buttons-confirm {
    border: 1px solid #27272c;
    padding: 1rem 2rem;
    color: $confirm-font-color;
    font-family: $font-title;
    font-size: 2rem;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.015em;
    cursor: pointer;

    @media (min-width: $tablet-width) {
      border-radius: 0.5rem;
    }
  }

  &__buttons-cancel {
    background-color: $confirm-cancel-bg-color;
  }

  &__buttons-confirm {
    background-color: $confirm-btn-bg-color;
  }
}

// .confirm-sale-active {
//   position: absolute;
//   top: 3.2rem;
//   width: 100%;
//   z-index: 1;
//   display: grid;
//   place-items: center;
//   max-width: 90rem;
// }

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  // padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
