.sales {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  &__table {
    display: flex;
    justify-content: space-around;
    width: 80%;
    font-family: $font-principal;
    color: $table-font-color;
    margin-bottom: 14rem;
  }

  &__body {
    width: 100%;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    width: 100%;
    line-height: 14px;
    border-bottom: 1px solid $dark;
    color: $dark;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
    line-height: 6px;
    color: $dark;
    border-bottom: 1px solid $dark;

    @media (min-width: $tablet-width) {
      line-height: 3px;
    }
  }

  &__no-sales {
    text-align: center;
    font-weight: bold;
    font-size: 2.4rem;
  }

  &__count {
    width: 25%;
    text-align: left;
  }

  &__quantity {
    width: 50%;
    text-align: center;
  }

  &__quantity-item {
    width: 100%;
    text-align: center;

    @media (min-width: $tablet-width) {
      text-align: center;
    }
  }

  &__quantity-item {
    width: 100%;
    text-align: center;

    @media (min-width: $tablet-width) {
      text-align: center;
    }
  }

  &__quantity-item {
    width: 30%;
    display: flex;
    justify-content: flex-end;

    @media (min-width: $tablet-width) {
      text-align: center;
    }
  }

  &__amount {
    width: 25%;
    text-align: right;
  }
}

.new-sale-button {
  width: calc(100% - 2rem);
  margin: 3.2rem 1rem;
  position: fixed;
  bottom: 0;
  background-color: $button-bg-color;
  color: $button-font-color;
  border: none;
  border-radius: 0.8rem;
  height: 4.8rem;
  font-size: 2.4rem;
  display: block;

  @media (min-width: 768px) {
    width: 52.5rem;
    margin: 3.2rem 0;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 3rem;
  }
}
