.totals {
  width: 100vw;
  margin-top: 7rem;
  display: none;

  &__mobile {
    width: 80%;
    padding: 1.5rem;
    margin: 0 auto;

    border-radius: 0.7rem;
    background-color: $primary;
    color: $dark;
  }

  &__mobile[data-layout='shop'] {
    background-color: $gray;
  }

  &__panel-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }

  &__box--title {
    display: block;
    text-align: center;
    font-weight: bold;
  }

  &__box--title[data-layout='shop'] {
    display: none;
  }

  &__box--money {
    padding-left: 2.5rem;

    text-align: left;
    border-right: 0.1rem solid rgba(0, 0, 0, 0.171);
  }

  &__box--units {
    padding-right: 2.5rem;
    text-align: right;
  }

  &__quantity {
    font-weight: bold;
  }

  &__heading,
  &__subtitle,
  &__quantity {
    margin: 0.5rem 0;
  }

  &__desktop {
    display: none;
  }

  // DESKTOP LAYOUT
  @media (min-width: 768px) {
    &__mobile {
      display: none;
    }
    &__desktop {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(3, 1fr);

      width: 80%;
      height: fit-content;
      margin: 0 auto;
    }
    &__box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 12rem;

      background-color: $primary;
      color: $dark;
      border-radius: 1.2rem;
    }

    &__subtitle--desktop {
      padding: 0 2rem;
      text-align: center;
      font-size: 1.8rem;
    }

    &__quantity--desktop {
      padding: 0 2rem;
      font-size: 2.5rem;
      font-weight: bold;
    }
  }
}
