
.totals {
  width: 100vw;
  margin-top: 20px;
}
.totals__mobile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 3fr;
  gap: 0px 0px;
  width: 80%;
  padding: 1.5rem;
  margin: 0 auto;

  border-radius: 0.7rem;
  background-color: $green;
  color: $dark;
}

.totals__box--title {
  grid-area: 1 / 1 / 2 / 3;
  height: fit-content;

  text-align: center;
}

.totals__box--money {
  grid-area: 2 / 1 / 3 / 2;
  height: fit-content;
  padding-left: 2.5rem;

  text-align: left;
  border-right: 0.1rem solid rgba(0, 0, 0, 0.171);
}

.totals__box--units {
  grid-area: 2 / 2 / 3 / 3;
  height: fit-content;
  padding-right: 2.5rem;

  text-align: right;
}

.totals__quantity {
  font-weight: bold;
}

.totals__heading,
.totals__subtitle,
.totals__quantity {
  margin: 0.5rem 0;
}

.totals__desktop {
  display: none;
}

@media (min-width: 768px) {
  .totals__mobile {
    display: none;
  }
  .totals__desktop {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);

    width: 80%;
    height: fit-content;
    margin: 0 auto;
  }
  .totals__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12rem;

    background-color: $green;
    color: $dark;
    border-radius: 1.2rem;
  }

  .totals__subtitle--desktop {
    padding: 0 2rem;
    text-align: center;
    font-size: 1.8rem;
  }

  .totals__quantity--desktop {
    padding: 0 2rem;
    font-size: 2.5rem;
    font-weight: bold;
  }
}
