.totals {
  width: 100%;
  margin-top: 9.5rem;
  display: none;

  // MOBILE LAYOUT
  &__mobile {
    width: 80%;
    min-width: 33rem;
    padding: 1.5rem;
    margin: 0 auto;

    border-radius: 1rem;
    background-color: $totals-bg-color;
    color: $totals-font-color;
  }

  &__mobile[data-layout='products'] {
    padding: 0.75rem 1.5rem;
    background-color: $totals-bg-color-sale;
  }

  &__panel-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }

  &__box--title {
    display: block;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: $totals-font-color-weak;
  }

  &__box--title[data-layout='products'] {
    display: none;
  }

  &__box--money {
    text-align: left;
    border-right: 0.1rem solid #f4f4f5;
  }

  &__box--units {
    text-align: right;
  }

  &__quantity {
    font-size: 2.4rem;
    font-weight: bold;
  }

  &__subtitle {
    font-size: 1.8rem;
    color: $totals-font-color-weak;
  }

  &__heading {
    margin: 0 0 1rem 0;
  }

  &__subtitle,
  &__quantity {
    margin: 0.5rem 0;
  }

  &__desktop {
    display: none;
  }

  // DESKTOP LAYOUT
  @media (min-width: $tablet-width) {
    &__mobile {
      display: none;
    }
    &__desktop {
      display: grid;
      gap: 1rem;
      grid-template-columns: 32% 28% 37%;

      min-width: 80%;
      max-width: 95%;
      height: fit-content;
      margin: 0 auto;
    }
    &__desktop[data-layout='products'] {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(2, 1fr);

      width: 80%;
      height: fit-content;
      margin: 0 auto;
    }

    &__box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 12rem;
      padding: 0 1rem;

      background-color: $totals-bg-color;
      color: $totals-font-color-home;
      border-radius: 1rem;
    }

    &__box[data-layout='products'] {
      background-color: $totals-bg-color-sale;
    }

    &__box--first[data-layout='products'] {
      display: none;
    }

    &__subtitle--desktop {
      padding: 0;
      text-align: center;
      font-size: 2.4rem;
      color: $totals-font-color-weak;
    }

    &__quantity--desktop {
      padding: 0;
      font-size: 2.5rem;
      font-weight: bold;
      color: $totals-font-color;
    }

    &__total-money {
      padding: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &__desktop {
      gap: 2rem;
      grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
      width: 80%;
    }

    &__box {
      padding: 0 2rem;
    }

    &__box--third {
      padding: 0 1rem;
    }

    &__quantity--desktop {
      font-size: 3.6rem;
    }
    &__total-money {
      font-size: 2.5rem;
    }
  }

  @media (min-width: 1130px) {
    &__desktop {
      width: 113rem;
    }

    &__quantity--desktop {
      font-size: 3.6rem;
    }
  }
}

.totals[data-layout='products'] {
  margin-top: 8.3rem;
}

@media (min-width: 920px) {
  .totals {
    margin-top: 12.3rem;
  }
}
