$shadow-box: 3px 11px 23px -5px rgba(0, 0, 0, 0.59);

.totals {
  width: 100vw;
}
.totals__mobile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 3fr;
  gap: 0px 0px;
  width: 80%;
  padding: 15px;
  margin: 0 auto;

  border-radius: 7px;
  background-color: white;
  color: $font-color-primary;
  -webkit-box-shadow: $shadow-box;
  box-shadow: $shadow-box;
}

.totals__title {
  grid-area: 1 / 1 / 2 / 3;
  height: fit-content;

  text-align: center;
}

.totals__money {
  grid-area: 2 / 1 / 3 / 2;
  height: fit-content;
  padding-left: 25px;

  text-align: left;
  border-right: 1px solid rgba(0, 0, 0, 0.171);
}

.totals__units {
  grid-area: 2 / 2 / 3 / 3;
  height: fit-content;
  padding-right: 25px;

  text-align: right;
}

.totals__quantity {
  font-weight: bold;
}

.totals__heading,
.totals__subtitle,
.totals__quantity {
  margin: 5px 0;
}

.totals__desktop {
  display: none;
}

@media (min-width: 768px) {
  .totals__mobile {
    display: none;
  }
  .totals__desktop {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);

    // background-color: rgba(205, 92, 92, 0.103);
    width: 80%;
    height: fit-content;
    margin: 0 auto;
  }
  .totals__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;

    background-color: white;
    color: $font-color-primary;
    border-radius: 12px;
    -webkit-box-shadow: $shadow-box;
    box-shadow: $shadow-box;
  }

  .totals__title2 {
    padding: 0 20px;
    text-align: center;
    font-size: 18px;
  }

  .totals__quantity2 {
    padding: 0 20px;
    font-size: 25px;
    font-weight: bold;
  }
}
