@import 'sass/_base';
@import 'sass/_landing';
@import 'sass/_products';
@import 'sass/_header';
@import 'sass/_totals';
@import 'sass/_aboutUs';
@import 'sass/_summary';
@import 'sass/_error';
@import 'sass/_menuMobile';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: $dark;
  padding: 5%;
  font-family: $font-principal;
  font-size: 16px;
}

button {
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;

  &:hover {
    opacity: 0.6;
  }
}

#content {
  margin: 3.2rem 0;
  position: relative;
  width: 100%;
  // display: grid; //<- original layout
  display: none;
  place-items: center;
}
