@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;700&family=Lora:wght@400;700&display=swap");
.landing {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  background-color: #181b1b;
  -webkit-animation: fadeInFromNone 1s ease-in-out;
          animation: fadeInFromNone 1s ease-in-out;
}

.landing__container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(179.98deg, #5e3e00 0.02%, #181b1b 99.98%), #c4c4c4;
}

.landing__picture-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 24rem;
  height: 24rem;
  z-index: 10;
}

@media (min-width: 768px) {
  .landing__picture-box {
    -webkit-transform: translate(-50%, -80%);
            transform: translate(-50%, -80%);
  }
}

.landing__picture {
  width: 100%;
  height: 100%;
}

.landing__curved-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 24rem;
  height: 24rem;
  z-index: 10;
}

@media (min-width: 768px) {
  .landing__curved-box {
    -webkit-transform: translate(-50%, -80%);
            transform: translate(-50%, -80%);
  }
}

.landing__path {
  fill: transparent;
}

.landing__curved-text {
  fill: #f4f4f5;
  font-family: "Advent Pro", sans-serif;
  font-size: 2.5rem;
  letter-spacing: 4px;
  font-weight: bold;
  -webkit-animation: fadeInFromNone 1.3s ease-in-out;
          animation: fadeInFromNone 1.3s ease-in-out;
}

.landing__text-box {
  position: absolute;
  top: 65%;
  left: 2rem;
  width: 13rem;
  color: #181b1b;
  font-weight: bold;
  -webkit-animation: fadeInFromNone 2s ease-in-out;
          animation: fadeInFromNone 2s ease-in-out;
}

@media (min-width: 768px) {
  .landing__text-box {
    top: 58%;
    left: 50%;
    width: 45rem;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
    color: #f4f4f5;
    font-weight: normal;
  }
}

.landing__text {
  font-size: 2rem;
}

@media (min-width: 768px) {
  .landing__text {
    font-size: 2.2rem;
    -webkit-animation: letters-expand 6s ease-in;
            animation: letters-expand 6s ease-in;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
}

@media (min-width: 1024px) {
  .landing__text {
    font-size: 2.4rem;
  }
}

.landing__wave--left {
  width: 55%;
  height: 100%;
}

.landing__wave--right {
  position: absolute;
  top: 0;
  right: 0;
  width: 56%;
  height: 100%;
}

@media (min-width: 768px) {
  .landing__wave--left {
    width: 15%;
    -webkit-filter: drop-shadow(2px 6px 1px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(2px 6px 1px rgba(0, 0, 0, 0.25));
  }
  .landing__wave--right {
    width: 15%;
    -webkit-filter: drop-shadow(-2px 6px 1px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(-2px 6px 1px rgba(0, 0, 0, 0.25));
  }
}

@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@-webkit-keyframes fadeOutFromBlock {
  0% {
    display: block;
    opacity: 1;
  }
  1% {
    display: block;
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes fadeOutFromBlock {
  0% {
    display: block;
    opacity: 1;
  }
  1% {
    display: block;
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@-webkit-keyframes letters-expand {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scaleX(1.2) scaleY(1.1);
            transform: scaleX(1.2) scaleY(1.1);
  }
}

@keyframes letters-expand {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scaleX(1.2) scaleY(1.1);
            transform: scaleX(1.2) scaleY(1.1);
  }
}

.totals[data-layout='home'] {
  margin-top: 9.5rem;
}

.totals[data-layout='products'] {
  margin-top: 9.5rem;
}

@media (min-width: 920px) {
  .totals {
    margin-top: 12.3rem;
  }
}

.totals {
  width: 100%;
  display: none;
}

.totals__mobile {
  width: 80%;
  min-width: 33rem;
  padding: 1.5rem;
  margin: 0 auto;
  border-radius: 1rem;
  background-color: #5e3e00;
  color: #f4f4f5;
}

.totals__panel-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 0;
}

.totals__box--title {
  display: block;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #f4f4f5bf;
}

.totals__box--money {
  text-align: left;
  border-right: 0.1rem solid #f4f4f5;
}

.totals__box--units {
  text-align: right;
}

.totals__quantity {
  font-size: 2.4rem;
  font-weight: bold;
}

.totals__subtitle {
  font-size: 1.8rem;
  color: #f4f4f5bf;
}

.totals__heading {
  margin: 0 0 1rem 0;
}

.totals__subtitle, .totals__quantity {
  margin: 0.5rem 0;
}

.totals__desktop {
  display: none;
}

@media (min-width: 768px) {
  .totals__mobile {
    display: none;
  }
  .totals__desktop[data-layout='home'] {
    display: -ms-grid;
    display: grid;
    gap: 1rem;
    -ms-grid-columns: 32% 28% 37%;
        grid-template-columns: 32% 28% 37%;
    min-width: 80%;
    max-width: 95%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 auto;
  }
  .totals__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 12rem;
    padding: 0 1.5rem;
    background-color: #5e3e00;
    color: #ab9b7e;
    border-radius: 1rem;
  }
  .totals__subtitle--desktop {
    padding: 0;
    text-align: center;
    font-size: 2.4rem;
    color: #f4f4f5bf;
  }
  .totals__quantity--desktop {
    padding: 0;
    font-size: 2.8rem;
    font-weight: bold;
    color: #f4f4f5;
  }
  .totals__total-money {
    padding: 0;
    font-size: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .totals__box {
    padding: 0 2rem;
  }
  .totals__quantity--desktop {
    font-size: 3.6rem;
  }
}

@media (min-width: 1130px) {
  .totals__desktop {
    max-width: 113rem;
  }
  .totals__quantity--desktop {
    font-size: 4.8rem;
  }
  .totals__total-money {
    font-size: 4.8rem;
  }
}

.totals__mobile[data-layout='products'] {
  width: 32.4rem;
  min-width: 0;
  padding: 0.75rem 1.5rem;
  background-color: #5e3e00;
}

.totals__box--title[data-layout='products'] {
  display: none;
}

@media (min-width: 494px) {
  .totals__mobile[data-layout='products'] {
    width: 49.4rem;
    min-width: 0;
    padding: 0.75rem 3.5rem;
  }
}

@media (min-width: 768px) {
  .totals__mobile {
    display: none;
  }
  .totals__desktop[data-layout='products'] {
    display: -ms-grid;
    display: grid;
    gap: 1.6rem;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    width: 51.6rem;
    min-width: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 auto;
  }
  .totals__box--first[data-layout='products'] {
    display: none;
  }
  .totals__box[data-layout='products'] {
    padding: 0 1.5rem;
  }
  .totals__subtitle--desktop[data-layout='products'] {
    font-size: 2rem;
  }
  .totals__quantity--desktop[data-layout='products'] {
    font-size: 3rem;
  }
}

@media (min-width: 782px) {
  .totals__desktop[data-layout='products'] {
    width: 78.2rem;
    min-width: 0;
  }
  .totals__box[data-layout='products'] {
    padding: 0 3rem;
  }
  .totals__subtitle--desktop[data-layout='products'] {
    font-size: 2.4rem;
  }
  .totals__quantity--desktop[data-layout='products'] {
    font-size: 3.6rem;
  }
}

@media (min-width: 1048px) {
  .totals__desktop[data-layout='products'] {
    width: 104.8rem;
    min-width: 0;
    max-width: none;
  }
  .totals__box[data-layout='products'] {
    padding: 0 3rem;
  }
  .totals__quantity--desktop[data-layout='products'] {
    font-size: 4.8rem;
  }
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.6rem;
  margin-bottom: 10rem;
}

.products__card {
  width: 15.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.6rem;
  background-color: #5e3e00;
  border-radius: 1.6rem;
  -webkit-box-shadow: 0rem 1rem 2rem rgba(44, 37, 210, 0.05);
          box-shadow: 0rem 1rem 2rem rgba(44, 37, 210, 0.05);
}

@media (min-width: 768px) {
  .products__card {
    width: 25rem;
  }
  .products__card:hover {
    opacity: 0.8;
  }
}

.products__title {
  margin: 0 0 0.8rem 0;
  font-size: 2.08rem;
  color: #f4f4f5bf;
}

.products__image {
  width: 100%;
  max-width: 16rem;
  min-height: 9.6rem;
  max-height: 15rem;
}

.products__price {
  color: #f4f4f5;
}

.products__price-value {
  font-weight: 700;
}

.products__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  background-color: #181b1b;
  color: #181b1b;
  border-radius: 3.2rem;
  overflow: hidden;
}

@media (min-width: 768px) {
  .products__buttons {
    width: 60%;
  }
}

.products__button {
  height: 3.2rem;
  width: 3.2rem;
  background-color: #181b1b;
  color: #ffff;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 2.4rem;
}

@media (min-width: 768px) {
  .products__button {
    width: 3.8rem;
  }
}

.products__amount {
  margin: 0;
  background-color: #ffff;
  width: 50%;
  width: calc(100% - (3.2rem * 2));
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.register-sale-button {
  width: calc(100% - 2rem);
  margin: 3.2rem 1rem;
  position: fixed;
  bottom: 0;
  background-color: #330e00;
  color: #f4f4f5;
  border: none;
  border-radius: 0.8rem;
  height: 4.8rem;
  font-size: 2.4rem;
  display: block;
  opacity: 50%;
}

@media (min-width: 768px) {
  .register-sale-button {
    width: 52.5rem;
    margin: 3.2rem 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    font-size: 3rem;
  }
}

.register-sale-button--active {
  opacity: 100%;
}

.confirm-sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.confirm-sale__div {
  background-color: #ffff;
  width: 96%;
  max-width: 48.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 1rem;
  overflow: hidden;
}

.confirm-sale__title {
  background-color: #330e00;
  width: 100%;
  margin: 0;
  color: #f4f4f5;
  padding: 1rem 0;
  border-bottom: 1px solid #181b1b;
  font-family: "Advent Pro", sans-serif;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

@media (min-width: 768px) {
  .confirm-sale__title {
    font-size: 3rem;
    line-height: 3.8rem;
  }
}

.confirm-sale__description {
  margin: 0;
  padding: 1.8rem;
  font-size: 1.6rem;
}

@media (min-width: 768px) {
  .confirm-sale__description {
    font-size: 2.4rem;
  }
}

.confirm-sale__table {
  border-collapse: collapse;
  width: 80%;
  text-align: left;
}

.confirm-sale__table th,
.confirm-sale__table td {
  padding: 1rem 0;
}

.confirm-sale__table-header {
  border-bottom: 2px solid #769ba9;
}

.confirm-sale__name {
  text-align: left;
}

.confirm-sale__table-row {
  border-bottom: 1px solid #769ba9;
}

.confirm-sale__table-footer {
  font-weight: 700;
}

.confirm-sale__amount, .confirm-sale__total, .confirm-sale__total-sale,
.confirm-sale #amount,
.confirm-sale #total {
  text-align: right;
}

.confirm-sale__buttons {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .confirm-sale__buttons {
    margin: 2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 3.4rem;
            column-gap: 3.4rem;
  }
}

.confirm-sale__buttons-cancel, .confirm-sale__buttons-confirm {
  border: 1px solid #27272c;
  padding: 1rem 2rem;
  color: #f4f4f5;
  font-family: "Advent Pro", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.015em;
  cursor: pointer;
}

@media (min-width: 768px) {
  .confirm-sale__buttons-cancel, .confirm-sale__buttons-confirm {
    border-radius: 0.5rem;
  }
}

.confirm-sale__buttons-cancel {
  background-color: #5e3e00;
}

.confirm-sale__buttons-confirm {
  background-color: #330e00;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 80%;
}

.products {
  min-width: 0;
  max-width: 49.4rem;
}

@media (min-width: 768px) {
  .products {
    min-width: 0;
    max-width: 104.8rem;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 7.7rem;
  background-color: #330e00;
  color: #f4f4f5;
}

.header__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 4rem;
          flex: 0 0 4rem;
  text-align: center;
}

@media (min-width: 768px) {
  .header__left .fa-bars {
    display: none;
  }
}

.header__right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 10%;
  text-align: center;
}

@media (min-width: 768px) {
  .header__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 5%;
  }
}

.header__icon {
  font-size: 2rem;
  cursor: pointer;
}

.header__title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "Advent Pro", sans-serif;
  font-size: 2.4rem;
}

.header__menu {
  display: none;
  font-size: 1.9rem;
}

.header__menu nav ul {
  list-style: none;
}

.header__menu nav ul a {
  text-decoration: none;
  cursor: pointer;
}

.header__menu nav ul a img {
  height: 2.3rem;
}

.header__menu nav ul a li {
  display: inline;
  padding: 0 15px 0 0;
}

.header__menu nav ul a li:hover {
  color: #ab9b7e;
}

@media (min-width: 768px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.4rem;
  }
  .header__menu img {
    height: 1.0rem;
  }
  .header__menu ul {
    margin-top: 25px;
  }
}

@media (min-width: 1024px) {
  .header__menu {
    font-size: 2.0rem;
  }
}

.aboutUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f4f4f5;
  margin-top: 7rem;
}

.aboutUs__description {
  display: inline;
  width: 36.2rem;
  height: 20rem;
  border-radius: 1rem;
  background-color: #5e3e00;
}

.aboutUs__description--team {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.2rem;
  margin: 1rem auto;
}

.aboutUs__description--image {
  display: none;
}

.aboutUs__paragraph {
  width: 34.2rem;
  margin: 1rem auto;
  font-size: 1.4rem;
  text-align: justify;
}

.aboutUs__testimonial--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70rem;
  margin-top: 2rem;
}

.aboutUs__testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36.2rem;
  height: 10rem;
  border-radius: 1rem;
  background-color: #181b1b;
  -webkit-box-shadow: 0px 4px 4px rgba(24, 27, 27, 0.5);
          box-shadow: 0px 4px 4px rgba(24, 27, 27, 0.5);
}

.aboutUs__image {
  width: 6.5rem;
  height: 6.7rem;
  margin-left: 2rem;
}

.aboutUs__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24.1rem;
  height: 6.7rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 2rem;
}

.aboutUs__text {
  display: block;
  width: 17rem;
  height: 6.7rem;
}

.aboutUs__paragraph--name {
  margin: 0rem;
  font-size: 2.2rem;
}

.aboutUs__paragraph--profile {
  margin: 0;
  font-size: 1.6rem;
}

.aboutUs__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 8rem;
  height: 6.7rem;
}

.fa-github-square,
.fa-linkedin {
  font-size: 4rem;
  color: #ab9b7e;
  margin-right: 0.8rem;
}

@media (min-width: 1024px) {
  .aboutUs {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 7rem auto 0 auto;
  }
  .aboutUs__description {
    width: 54.2rem;
    height: 82rem;
  }
  .aboutUs__description--team {
    font-size: 3rem;
    margin: 2.5rem auto;
  }
  .aboutUs__description--image {
    display: block;
    margin: 6.6rem auto;
  }
  .aboutUs__paragraph {
    width: 49.6rem;
    font-size: 2.2rem;
    margin: 1rem auto;
    line-height: 1.5;
  }
  .aboutUs__testimonial--container {
    width: 59.3rem;
    height: 82rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
  }
  .aboutUs__testimonial:nth-child(even) {
    position: relative;
    right: -17.3rem;
  }
  .aboutUs__testimonial {
    width: 42rem;
    height: 12rem;
  }
  .aboutUs__image {
    width: 7.5rem;
    height: 7.7rem;
    margin-left: 2rem;
  }
  .aboutUs__info {
    width: 37.7rem;
    height: 7.7rem;
  }
  .aboutUs__text {
    display: block;
    width: 21rem;
    height: 6.7rem;
  }
}

.sales {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sales__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  font-family: "Lora", serif;
  color: #181b1b;
  margin-bottom: 14rem;
}

.sales__body {
  width: 100%;
}

.sales__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px;
  width: 100%;
  line-height: 14px;
  border-bottom: 1px solid #181b1b;
  color: #181b1b;
}

.sales__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  width: 100%;
  line-height: 6px;
  color: #181b1b;
  border-bottom: 1px solid #181b1b;
}

@media (min-width: 768px) {
  .sales__row {
    line-height: 3px;
  }
}

.sales__no-sales {
  text-align: center;
  font-weight: bold;
  font-size: 2.4rem;
}

.sales__count {
  width: 25%;
  text-align: left;
}

.sales__quantity {
  width: 50%;
  text-align: center;
}

.sales__quantity-item {
  width: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  .sales__quantity-item {
    text-align: center;
  }
}

.sales__quantity-item {
  width: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  .sales__quantity-item {
    text-align: center;
  }
}

.sales__quantity-item {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 768px) {
  .sales__quantity-item {
    text-align: center;
  }
}

.sales__amount {
  width: 25%;
  text-align: right;
}

.new-sale-button {
  width: calc(100% - 2rem);
  margin: 3.2rem 1rem;
  position: fixed;
  bottom: 0;
  background-color: #330e00;
  color: #f4f4f5;
  border: none;
  border-radius: 0.8rem;
  height: 4.8rem;
  font-size: 2.4rem;
  display: block;
}

@media (min-width: 768px) {
  .new-sale-button {
    width: 52.5rem;
    margin: 3.2rem 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    font-size: 3rem;
  }
}

.content {
  width: 80%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ab9b7e;
}

@media (min-width: 1024px) {
  .content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .content__colum {
    width: 50%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .content__image {
    width: 100%;
  }
}

.content__image img {
  display: block;
  margin: 0 auto 50px auto;
  width: 100%;
}

@media (min-width: 1024px) {
  .content__image img {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .content__image-second {
    width: 60% !important;
  }
}

.content__text {
  color: #181b1b;
}

.content__text-title {
  font-size: 18px;
  font-weight: bold;
}

.content__text-description {
  font-size: 14px;
  line-height: 28px;
}

.content__link {
  color: white;
  background-color: #330e00;
  border-radius: 10px;
  width: 160px;
  height: 60px;
  font-weight: bold;
  text-decoration: none;
  padding: 20px 30px;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

@media (min-width: 1024px) {
  .content__link {
    width: 75%;
    margin-bottom: 0;
  }
}

.menu {
  display: block;
  width: 26rem;
  height: 100vh;
  position: fixed;
  left: -26rem;
  background: url(/images/Wave.svg);
  z-index: 100;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__anchor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Lora", serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #181b1b;
}

.menu__anchor-close {
  position: absolute;
  top: 8rem;
  text-align: center;
}

.menu__anchor-products {
  position: absolute;
  top: 22rem;
}

.menu__anchor-aboutUs {
  position: absolute;
  top: 37.5rem;
}

.menu__icon {
  display: inline;
  width: 5rem;
  height: 4.5rem;
  margin-right: 1rem;
  font-size: 4rem;
  color: #181b1b;
}

@media (min-width: 768px) {
  .menu {
    display: none;
  }
}

.opacity {
  opacity: 0.4;
}

.show {
  left: 0;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ab9b7e;
  font-family: "Lora", serif;
  font-size: 16px;
}

button {
  cursor: pointer;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

button:hover {
  opacity: 0.6;
}

#content {
  margin: 3.2rem 0 9.6rem 0;
  position: relative;
  width: 100%;
  display: none;
  place-items: center;
}
/*# sourceMappingURL=main.css.map */