@import "sass/_colors";
@import 'sass/_products';
@import "sass/_header";
@import "sass/_totals";

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f3f3fb;
}
