.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.products__card {
  width: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  background-color: #00C39D;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 10px 20px rgba(44, 37, 210, 0.05);
          box-shadow: 0px 10px 20px rgba(44, 37, 210, 0.05);
}

.products__title {
  margin: 0 0 0.5rem 0;
  font-size: 1.3rem;
}

.products__image {
  width: 100%;
  min-height: 6rem;
}

.products__price-title {
  opacity: 50%;
}

.products__price-value {
  font-weight: 700;
}

.products__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  background-color: #FFFF;
  color: #27272C;
  border-radius: 2rem;
  overflow: hidden;
}

.products__buttons:hover {
  background-color: #FCB929;
}

.products__button {
  height: 2rem;
  width: 2rem;
  background-color: #27272C;
  color: #FFFF;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 1.5rem;
}

.products__amount {
  margin: 0;
}

.header {
  margin: 10px auto 10px auto;
  width: 90%;
  color: #001026;
}

.header__title {
  font-size: 25px;
  text-align: center;
}

.totals {
  width: 100vw;
  margin-top: 20px;
}

.totals__mobile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 2fr 3fr;
      grid-template-rows: 2fr 3fr;
  gap: 0px 0px;
  width: 80%;
  padding: 15px;
  margin: 0 auto;
  border-radius: 7px;
  background-color: #00C39D;
  color: #27272C;
}

.totals__box--title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
}

.totals__box--money {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-left: 25px;
  text-align: left;
  border-right: 1px solid rgba(0, 0, 0, 0.171);
}

.totals__box--units {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-right: 25px;
  text-align: right;
}

.totals__quantity {
  font-weight: bold;
}

.totals__heading,
.totals__subtitle,
.totals__quantity {
  margin: 5px 0;
}

.totals__desktop {
  display: none;
}

@media (min-width: 768px) {
  .totals__mobile {
    display: none;
  }
  .totals__desktop {
    display: -ms-grid;
    display: grid;
    gap: 20px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    width: 80%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 auto;
  }
  .totals__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 120px;
    background-color: #00C39D;
    color: #27272C;
    border-radius: 12px;
  }
  .totals__subtitle--desktop {
    padding: 0 20px;
    text-align: center;
    font-size: 18px;
  }
  .totals__quantity--desktop {
    padding: 0 20px;
    font-size: 25px;
    font-weight: bold;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #27272C;
}

#content {
  margin: 2rem 0;
}
/*# sourceMappingURL=main.css.map */