@import 'sass/_base';
@import 'sass/_landing';
@import 'sass/_products';
@import 'sass/_header';
@import 'sass/_totals';
@import 'sass/_aboutUs';
@import 'sass/_summary';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: $dark;
  padding: 5%;
  font-family: $font-principal;
  font-size: 16px;
}

#content {
  margin: 3.2rem 0;
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
}
