.menu {
  display: block;
  width: 26rem;
  height: 100vh;
  position: absolute;
  left: 0;
  background: url(/images/Wave.svg);

  &__elements {
    display: flex;
    height: 100vh;
    flex-direction: column;
  }

  &__anchor {
    display: flex;
    margin-left: 2.5rem;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
    font-family: $font-principal;
    text-transform: uppercase;
    text-decoration: none;
    color: $light;
  }

  &__anchor-home {
    position: absolute;
    top: 8vh;
  }

  &__anchor-products {
    position: absolute;
    top: 27vh;
  }

  &__anchor-aboutUs {
    position: absolute;
    top: 46vh;
  }

  &__icon {
    display: inline;
    width: 5rem;
    height: 4.5rem;
    margin-right: 1rem;
    font-size: 4rem;
    color: $secondary;
  }
}
