<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Document</title>
</head>
<body>
    <section class="aboutUs">
        <div class="aboutUs__description">
            <p class="aboutUs__paragraph">Somos un grupo de aprendices de programación con anhelo de formar parte de un equipo de trabajo. 
                En busca de oportunidades para seguir aprendiendo, el staff de FEC nos permitió participar en el desarrollo
                de un proyecto, en el cual pondríamos a prueba nuestras habilidades.</p>
        </div>
        <div class="aboutUs__testimonial">
            <img class="aboutUs__image" src="/images/rhonald.png" alt="">
            <div class="aboutUs__info">
                <p class="aboutUs__paragraph--name">Rhonald Maradey</p>
                <p class="aboutUs__paragraph--testimony">Mi favorito es con leche y mucha espuma. El de mi esposa negro con poca azúcar y a 
                    mi hija le encantan las galletas. 
                </p>
            </div>
        </div>
        <div class="aboutUs__testimonial">
            <img class="aboutUs__image" src="/images/freud.png" alt="">
            <div class="aboutUs__info">
                <p class="aboutUs__paragraph--name">Freud Alexandro</p>
                <p class="aboutUs__paragraph--testimony">Este café tiene sello made in Colombia, no tengo duda es el mejor.</p>
            </div>
        </div>
        <div class="aboutUs__testimonial">
            <img class="aboutUs__image" src="/images/andres.png" alt="">
            <div class="aboutUs__info">
                <p class="aboutUs__paragraph--name">Andres Di Croches</p>
                <p class="aboutUs__paragraph--testimony">Todas las tardes despues del trabajo paso por una bomba fresca, son deliciosas. </p>
            </div>
        </div>
        <div class="aboutUs__testimonial">
            <img class="aboutUs__image" src="/images/sebastian.png" alt="">
            <div class="aboutUs__info">
                <p class="aboutUs__paragraph--name">Sebastian</p>
                <p class="aboutUs__paragraph--testimony">En casa ya tengo una bonita colección de tazas de CMYK, simpre sorprendo a mis amistades cuando me visitan. </p>
            </div>
        </div>
        <div class="aboutUs__testimonial">
            <img class="aboutUs__image" src="/images/victor.png" alt="">
            <div class="aboutUs__info">
                <p class="aboutUs__paragraph--name">Victor</p>
                <p class="aboutUs__paragraph--testimony">Lo mio no es el café yo soy más de mate, pero vengo con mis amigos muy frecuente. Ya me compré un sweater que esta bien elegante. </p>
            </div>
        </div>
        <div class="aboutUs__testimonial">
            <img class="aboutUs__image" src="/images/jose.png" alt="">
            <div class="aboutUs__info">
                <p class="aboutUs__paragraph--name">Jose</p>
                <p class="aboutUs__paragraph--testimony">Soy quien organiza las salidas con los pibes, siempre terminamos aquí. Porque tiene un ambiente agradable.</p>
            </div>
        </div>

    </section>
    
</body>
</html>
