<section class="aboutUs">
    <div class="aboutUs__description">
        <p class="aboutUs__paragraph">Somos un grupo de aprendices de programación con anhelo de formar parte de un equipo de trabajo. 
            En busca de oportunidades para seguir aprendiendo, el staff de FEC nos permitió participar en el desarrollo
            de un proyecto, en el cual pondríamos a prueba nuestras habilidades. El resultado es el producto del esfuerzo y compromiso
            de cada uno de los miembros del equipo, esto después de 2,914 conflictos. </p>
    </div>
    <div class="aboutUs__testimonial--container">
        <div class="aboutUs__testimonial">
            <img class="aboutUs__image" src="/images/rhonald.png" alt="">
            <div class="aboutUs__info">
                <div class="aboutUs__text">
                    <p class="aboutUs__paragraph--name">Rhonald Maradey</p>
                    <p class="aboutUs__paragraph--profile">Frontend Developer.</p>
                </div>
                <div class="aboutUs__media">
                    <a href="https://github.com/rhonaldm"><i class="fab fa-github-square"></i></a>
                    <a href="https://www.linkedin.com/in/rhonald-maradey-24590640/"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <div class="aboutUs__testimonial">
            <img class="aboutUs__image" src="/images/freud.png" alt="">
            <div class="aboutUs__info">
                <div class="aboutUs__text">
                    <p class="aboutUs__paragraph--name">Freud Alexandro</p>
                    <p class="aboutUs__paragraph--profile">Frontend Developer.</p>
                </div>
                <div class="aboutUs__media">
                    <a href="https://github.com/AlexandroMunera"><i class="fab fa-github-square"></i></a>
                    <a href="https://www.linkedin.com/in/freud-alexandro/"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <div class="aboutUs__testimonial">
            <img class="aboutUs__image" src="/images/sebastian.png" alt="">
            <div class="aboutUs__info">
                <div class="aboutUs__text">
                    <p class="aboutUs__paragraph--name">Sebastian Argañaraz</p>
                    <p class="aboutUs__paragraph--profile">Frontend Developer.</p>
                </div>
                <div class="aboutUs__media">
                    <a href="https://github.com/sarganar"><i class="fab fa-github-square"></i></a>
                    <a href="https://www.linkedin.com/in/sebastian-arga%C3%B1araz/"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <div class="aboutUs__testimonial">
            <img class="aboutUs__image" src="/images/victor.png" alt="">
            <div class="aboutUs__info">
                <div class="aboutUs__text">
                    <p class="aboutUs__paragraph--name">Victor Olivera</p>
                    <p class="aboutUs__paragraph--profile">Frontend Developer.</p>
                </div>
                <div class="aboutUs__media">
                    <a href="https://github.com/oliveravictor"><i class="fab fa-github-square"></i></a>
                    <a href="https://www.linkedin.com/in/victor-olivera/"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <div class="aboutUs__testimonial">
            <img class="aboutUs__image" src="/images/jose.png" alt="">
            <div class="aboutUs__info">
                <div class="aboutUs__text">
                    <p class="aboutUs__paragraph--name">Jose Osuna</p>
                    <p class="aboutUs__paragraph--profile">Frontend Developer.</p>
                </div>
                <div class="aboutUs__media">
                    <a href="https://github.com/JoeOsG"><i class="fab fa-github-square"></i></a>
                    <a href="https://www.linkedin.com/in/joeosr/"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <div class="aboutUs__testimonial">
            <img class="aboutUs__image" src="/images/joseR.png" alt="">
            <div class="aboutUs__info">
                <div class="aboutUs__text">
                    <p class="aboutUs__paragraph--name">Jose Rodriguez</p>
                    <p class="aboutUs__paragraph--profile">Frontend Developer.</p>
                </div>
                <div class="aboutUs__media">
                    <a href="https://github.com/JoseJARN"><i class="fab fa-github-square"></i></a>
                    <a href="https://www.linkedin.com/in/josejarn"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>

    </div>
    

</section>

