<div class="header__left">
  <p class="header__icon">
    <i class="fas fa-chevron-left"></i>
    <!-- <i class="fas fa-bars"></i> -->
  </p>
</div>
<div class="header__right">
  <h1 class="header__title">FrontEnd Sunrise Café</h1>
</div>
<div class="header__menu">
  <nav>
    <ul>
      <a class="menu__nav nav__anchor-home">
        <li><img src="images/menu_home.png" alt=""></li>
        <li>INICIO</li>
      </a>
      <a class="menu__nav nav__anchor-products">
        <li><img src="images/menu_products.png" alt=""></li>
        <li>PRODUCTOS</li>
      </a>
      <a class="menu__nav nav__anchor-aboutUs">
        <li><img src="images/menu_about.png" alt=""></li>
        <li>NOSOTROS</li>
      </a>
    </ul>
  </nav>
</div>