<div class="header__left">
  <p class="header__icon">
    <i class="fas fa-chevron-left"></i>
    <!-- <i class="fas fa-bars"></i> -->
  </p>
</div>
<div class="header__right">
  <h1 class="header__title">FrontEnd Sunrise Café</h1>
</div>
<div class="header__menu">
  <nav>
  <ul>
    <li><img src="images/menu_home.png" alt=""></li>
    <li>INICIO</li>
    <li><img src="images/menu_products.png" alt=""></li>
    <li>PRODUCTOS</li>
    <li><img src="images/menu_about.png" alt=""></li>
    <li>NOSOTROS</li>
  </ul>
</nav>
</div>