<div class="landing__container">
  <div class="landing__picture-box">
    <img class="landing__picture" src="../images/coffee-top.webp" alt="cofee" />
  </div>
  <div class="landing__curved-box">
    <svg
      class="landing__svg"
      width="240"
      height="240"
      viewBox="0 0 240 240"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path id="curve" class="landing__path" d="M12,150a100,100 0 1,0 215,-60" />
      <text class="landing__curved-text" width="240">
        <textPath xlink:href="#curve">FrontEnd Sunrise Café</textPath>
      </text>
    </svg>
  </div>
  <div class="landing__wave--left">
    <img class="landing__picture" src="../images/wave1.png" alt="wave1" />
  </div>
  <div class="landing__wave--right">
    <img class="landing__picture" src="../images/wave2.png" alt="wave1" />
  </div>
  <div class="landing__text-box">
    <p class="landing__text">Un ambiente para disfrutar del rico aroma del café y su sabor.</p>
  </div>
</div>
