<div class="landing__container">
  <div class="landing__central">
    <img class="landing__picture" src="../images/coffee-top.png" alt="cofee" />
  </div>
  <div class="landing__wave--one">
    <img class="landing__picture" src="../images/Vector 1.png" alt="wave1" />
  </div>
  <div class="landing__wave--two">
    <img class="landing__picture" src="../images/Vector 2.png" alt="wave1" />
  </div>
  <div class="landing__text-box">
    <p class="landing__text">Un ambiente para disfrutar del rico aroma del cafe y su sabor.</p>
  </div>
</div>
