<section id="section-produts" class="products">
  <!-- will load the products with js -->
</section>

<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <section id="section-confirm-sale" class="confirm-sale">
    <div class="confirm-sale__div">
      <h3 class="confirm-sale__title">¿Confirmar venta?</h3>
      <p class="confirm-sale__description">
        La venta quedará registrada con los items cargados hasta el momento
      </p>

      <table class="confirm-sale__table" aria-label="products to sale">
        <tr class="confirm-sale__table-header">
          <th id="name">Producto</th>
          <th id="amount">Cantidad</th>
          <th id="total">Total</th>
        </tr>

        <tbody class="confirm-sale__table-body"></tbody>
        <tr class="confirm-sale__table-footer">
          <td colspan="2">Total</td>
          <td class="confirm-sale__total-sale"></td>
        </tr>
      </table>

      <div class="confirm-sale__buttons">
        <button class="confirm-sale__buttons-cancel">Cancelar</button>
        <button id="confirm-sale__Button-Confirm" class="confirm-sale__buttons-confirm">
          Confirmar
        </button>
      </div>
    </div>
  </section>
</div>

<button id="register-sale" class="register-sale-button">Registrar venta</button>

<template id="template-product-card">
  <article class="products__card">
    <p class="products__title"></p>
    <!-- TODO: Use picture tag and default image -->
    <img class="products__image" src="images/coffe.png" alt="product 1" />
    <p class="products__price">
      <span class="products__price-title">Precio</span>
      $<span class="products__price-value"></span>
    </p>
    <div class="products__buttons">
      <button class="products__button products__decrease">-</button>
      <p class="products__amount">0</p>
      <button class="products__button products__increase">+</button>
    </div>
  </article>
</template>

<template id="confirm-sale-template-row" class="confirm-sale__table-row">
  <tr class="confirm-sale__table-row">
    <td class="confirm-sale__name" headers="name"></td>
    <td class="confirm-sale__amount" headers="amount"></td>
    <td class="confirm-sale__total" headers="total"></td>
  </tr>
</template>
