<section class="products">
  <article class="products__card">
    <h3 class="products__title">Producto #1</h3>
    <img class="products__image" src="images/product1.jpg" alt="product 1" />
    <p class="products__price">
      Precio <span class="products__price-value">$500,00</span>
    </p>
    <div class="products__buttons">
      <button class="products__button products__decrease">-</button>
      <p class="products__amount">0</p>
      <button class="products__button products__increase">+</button>
    </div>
  </article>

  <article class="products__card">
    <h3 class="products__title">Producto #1</h3>
    <img class="products__image" src="images/product1.jpg" alt="product 1" />
    <p class="products__price">
      Precio <span class="products__price-value">$500,00</span>
    </p>
    <div class="products__buttons">
      <button class="products__button products__decrease">-</button>
      <p class="products__amount">0</p>
      <button class="products__button products__increase">+</button>
    </div>
  </article>

  <article class="products__card">
    <h3 class="products__title">Producto #1</h3>
    <img class="products__image" src="images/product1.jpg" alt="product 1" />
    <p class="products__price">
      Precio <span class="products__price-value">$500,00</span>
    </p>
    <div class="products__buttons">
      <button class="products__button products__decrease">-</button>
      <p class="products__amount">0</p>
      <button class="products__button products__increase">+</button>
    </div>
  </article>

  <article class="products__card">
    <h3 class="products__title">Producto #1</h3>
    <img class="products__image" src="images/product1.jpg" alt="product 1" />
    <p class="products__price">
      Precio <span class="products__price-value">$500,00</span>
    </p>
    <div class="products__buttons">
      <button class="products__button products__decrease">-</button>
      <p class="products__amount">0</p>
      <button class="products__button products__increase">+</button>
    </div>
  </article>
</section>
