<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../main.css">
    <title>Document</title>
</head>

<body>


    <header>
        <h3>Punto de venta CYMK</h3>
    </header>


    <div class="container">
        <main>

            <p>Totales Ventas</p>
            <div class="items">
                <h4>Importe Total<br>
                    $10.983.45
                </h4>

                <h4>Unidades <br>
                    12
                </h4>
            </div>

        </main>

        <div class="item-table">
            <table>
                <tbody>
                    <tr class="border">
                        <th>Movimientos</th><br>
                        <th>Cant. prod.</th>
                        <th>Total</th>
                    </tr>
                    <tr class="border">
                        <td>Venta #1</td>
                        <td>2</td>
                        <td>$10</td>
                    </tr>
                    <tr class="border">
                        <td>Venta #2</td>
                        <td>4</td>
                        <td>$545</td>
                    </tr>
                    <tr class="border">
                        <td>Venta #3</td>
                        <td>7</td>
                        <td>$354</td>
                    </tr>
                    <tr class="border">
                        <td>Venta #4</td>
                        <td>12</td>
                        <td>$1908</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <button class="button">
            Nueva Venta
        </button>

    </div>

</body>

</html>