<div class="container">
  <table class="summary">
    <tbody>
      <tr class="summary__row">
        <th>Movimientos</th>
        <br />
        <th>Cant. prod.</th>
        <th>Total</th>
      </tr>
      <tr class="summary__row">
        <td>Venta #1</td>
        <td>2</td>
        <td>$10</td>
      </tr>
      <tr class="summary__row">
        <td>Venta #2</td>
        <td>4</td>
        <td>$545</td>
      </tr>
      <tr class="summary__row">
        <td>Venta #3</td>
        <td>7</td>
        <td>$354</td>
      </tr>
      <tr class="summary__row">
        <td>Venta #4</td>
        <td>12</td>
        <td>$1908</td>
      </tr>
    </tbody>
  </table>
</div>
<button id="Sale" class="button">Nueva Venta</button>

<!-- <template id="template-product-card">
  <article class="products__card">
    <p class="products__title"></p>
    TODO: Use picture tag and default image
    <img class="products__image" src="images/coffe.png" alt="product 1" />
    <p class="products__price">
      <span class="products__price-title">Precio</span>
      $<span class="products__price-value"></span>
    </p>
    <div class="products__buttons">
      <button class="products__button products__decrease">-</button>
      <p class="products__amount">0</p>
      <button class="products__button products__increase">+</button>
    </div>
  </article>
</template> -->
