<div class="container">

    <table class="summary">
        <tbody>
            <tr class="summary__row">
                <th>Movimientos</th><br>
                <th>Cant. prod.</th>
                <th>Total</th>
            </tr>
            <tr class="summary__row">
                <td>Venta #1</td>
                <td>2</td>
                <td>$10</td>
            </tr>
            <tr class="summary__row">
                <td>Venta #2</td>
                <td>4</td>
                <td>$545</td>
            </tr>
            <tr class="summary__row">
                <td>Venta #3</td>
                <td>7</td>
                <td>$354</td>
            </tr>
            <tr class="summary__row">
                <td>Venta #4</td>
                <td>12</td>
                <td>$1908</td>
            </tr>
        </tbody>
    </table>

</div>