<div class="totals__mobile">
  <div class="totals__box--title">
    <p class="totals__heading">Totales Ventas</p>
  </div>
  <div class="totals__box--money">
    <p class="totals__subtitle">Importe Total</p>
    <p class="totals__quantity totals__total-amount">$10.032,26</p>
  </div>
  <div class="totals__box--units">
    <p class="totals__subtitle">Unidades</p>
    <p class="totals__quantity totals__units">12</p>
  </div>
</div>

<div class="totals__desktop">
  <div class="totals__box">
    <div class="totals__subtitle--desktop">Ventas totales</div>
    <div class="totals__quantity--desktop totals__total-sales">4108</div>
  </div>
  <div class="totals__box">
    <div class="totals__subtitle--desktop">Unidades</div>
    <div class="totals__quantity--desktop totals__units">54324</div>
  </div>
  <div class="totals__box">
    <div class="totals__subtitle--desktop">Importe total</div>
    <div class="totals__quantity--desktop totals__total-amount">$154032,43</div>
  </div>
</div>
