<div class="totals__mobile" data-layout="products">
  <div class="totals__box--title" data-layout="products">
    <p class="totals__heading">Totales Ventas</p>
  </div>
  <div class="totals__panel-container">
    <div class="totals__box--money">
      <p class="totals__subtitle">Importe Total</p>
      <p class="totals__quantity totals__total-money"></p>
    </div>
    <div class="totals__box--units">
      <p class="totals__subtitle">Unidades</p>
      <p class="totals__quantity totals__units"></p>
    </div>
  </div>
</div>

<div class="totals__desktop" data-layout="products">
  <div class="totals__box totals__box--first" data-layout="products">
    <div class="totals__subtitle--desktop">Ventas totales</div>
    <div class="totals__quantity--desktop totals__total-sales"></div>
  </div>
  <div class="totals__box" data-layout="products">
    <div class="totals__subtitle--desktop totals__subtitle--units">Unidades</div>
    <div class="totals__quantity--desktop totals__units"></div>
  </div>
  <div class="totals__box" data-layout="products">
    <div class="totals__subtitle--desktop">Importe total</div>
    <div class="totals__quantity--desktop totals__total-money"></div>
  </div>
</div>
